<!-- FULL SCREEN BACKGROUND IMAGE -->
<!-- <header id="home-bg-image">
    <h1 class="header-text"><i><b>Hello</b> _____________________________</i></h1>
    <h1 class="header-text">I'm <b>Aubrey Garcia</b>, a web, mobile, and augmented reality developer with a passion for design.</h1>
</header> -->
<div class="header-parallax">
    <h1 class="header-text"><i><b>Hello</b> _____________________________</i></h1>
    <h1 class="header-text">I'm <b>Aubrey Garcia</b>, an interactive media designer and developer who works with the web, mobile, and mixed reality.</h1>
</div>